.image-fg-1 {
    color: #ffda07 !important;
}

.image-bg-1 {
    background-color: #ffda07 !important;
}

.image-fg-2 {
    color: #4db372 !important;
}

.image-bg-2 {
    background-color: #4db372 !important;
}

.image-fg-3 {
    color: #009917 !important;
}

.image-bg-3 {
    background-color: #009917 !important;
}

.image-fg-4 {
    color: #601a0f !important;
}

.image-bg-4 {
    background-color: #601a0f !important;
}

.image-fg-ex-1 {
    color: #ffffff !important;
}

.image-bg-ex-1 {
    background-color: #ffffff !important;
}

.image-fg-ex-2 {
    color: #000000 !important;
}

.image-bg-ex-2 {
    background-color: #000000 !important;
}

.image-fg-vibrant {
    color: #ffda07 !important;
}

.image-bg-vibrant {
    background-color: #ffda07 !important;
}

.image-fg-muted-dark {
    color: #2b552f !important;
}

.image-bg-muted-dark {
    background-color: #2b552f !important;
}

.image-fg-muted {
    color: #a26c5a !important;
}

.image-bg-muted {
    background-color: #a26c5a !important;
}

.image-fg-vibrant-light {
    color: #68a0e5 !important;
}

.image-bg-vibrant-light {
    background-color: #68a0e5 !important;
}

.image-fg-muted-light {
    color: #d2d1b7 !important;
}

.image-bg-muted-light {
    background-color: #d2d1b7 !important;
}

.image-fg-vibrant-dark {
    color: #01930f !important;
}

.image-bg-vibrant-dark {
    background-color: #01930f !important;
}